body
{
    padding-top: 2em;
}

.title-bar
{
    background-color: #3A559F;
}

#logo
{
    width: 2em;
    height: 2em;
    background-color: #EEF0F7;
}

.quick-profile
{
    width: 2em;
    height: 2em;
    background-color: #EEF0F7;
}

.back-pic
{
    min-width: 100%;
    max-height: 10rem;
}

.user-big
{
    width: 10em;
    height: 10em;
    background-color: #EEF0F7;
    margin-top: -20%;
    border: solid;
}

.btn-facebook
{
    background-color: #3A559F;
    color: #EEF0F7;
}

.post-creation-box
{
    margin-top: 1em;
}

.poster-pic
{
    width: 2em;
    height: 2em;
    background-color: #EEF0F7;
}

footer
{
    background-color: #3A559F;
    color: #EEF0F7;
}